/* 
    Document   : master.css
    Created on : Jul 17, 2012, 9:32:51 PM
    Author     : Daniel Levitt
*/

body {
    color: #333;
    line-height: 1.5em; /* 15px */
}

h1, h2, h3, h4, h5, h6 {
    color: #181818;
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 44px; line-height: 50px; margin-bottom: 14px;}
h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }
.subheader { color: #777; }

p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }

em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }

hr.space { border-color:transparent }

/*	Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


header {
    background:#efefef;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding: 35px 0;
}
header .logo {
    margin: 15px 0 0;
    font-family: 'Pacifico', cursive;
    font-size: 39px;
    text-shadow:0 -1px 1px rgba(0,0,0,0.5);
    float: left;
}
header a.logo:hover, header a.logo:active, header a.logo:visited {
    color: #08C;
    text-decoration: none;
}

.main-nav ul{float:right;margin:0;max-width: 600px;list-style: none}
.main-nav ul li{padding-left:30px;float:left;}
.main-nav ul li a{letter-spacing:1px;display:inline-block;font-size:16px;font-weight:bold;color:#008fd5;padding:6px 12px;line-height:26px;}
.main-nav ul li a:hover{color:#37464f; text-decoration: none}

.main-nav ul li.selected a,.main-nav ul li.signup a{-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
.main-nav ul li.selected a{background:#e1e6e9;color:#37464f;}

.main-nav ul li.signup a {background: #FF702A; color:#fff; border:1px solid #e1e6e9;vertical-align:middle;}
.main-nav ul li.signup a:hover {color:#fff;background-color:#ec601c;}

.navbar-search .search-query {
    -webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px;
}

.navbar .nav > li > a.profile-link {
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position: 12px center;
    padding-left: 50px;
    margin-left: 0;
}

.nav > li > a.nav-home {
    opacity: 0;
}

.content {
    min-height: 500px;
}

input.xl-input {
    font-size: 20px;
    line-height: 1.8;
    padding: 12px;
}

.u_e_i {
    padding-left: 15px;
}

.s_auth { -moz-user-select: none; border-radius: 5px; float: left; height: 37px; }
.s_auth:hover { cursor: pointer; text-decoration: none; }
.s_auth > span { color: #FFFFFF; float: left; font-size: 14px; font-weight: 500; margin-top: 7px; min-height: 20px; padding: 3px 15px 3px 7px; }
.s_auth .ic { float: left; height: 36px; width: 32px; margin: 0 5px 0 10px; }
.fb { background: #3B5998; background-image: -moz-linear-gradient(center top , #3B5998 0%, #3B5998 50%, #325190 50%, #325190 100%) repeat scroll 0 0 transparent; box-shadow: 0 3px 0 #213B6D; }
.fb:hover { background: -moz-linear-gradient(center top , #2B4582 0%, #2B4582 49%, #243D79 49%, #2B4582 100%, #243D79 100%) repeat scroll 0 0 transparent; box-shadow: 0 3px 0 #172D59; }
.s_auth.fb .ic { background: url("../img/fb_login.png") no-repeat top left }
.tw { background: #32C1F0; background-image: -moz-linear-gradient(center top , #32C1F0 0%, #32C1F0 49%, #30BBE9 49%, #30BBE9 100%) repeat scroll 0 0 transparent; box-shadow: 0 3px 0 #249BC4; }
.tw:hover { background: -moz-linear-gradient(center top , #18B8EE 0%, #18B8EE 49%, #18B2E6 49%, #18B2E6 100%) repeat scroll 0 0 transparent; box-shadow: 0 3px 0 #1D82A5; }
.s_auth.tw .ic { background: url("../img/tw_login.png") no-repeat top left }
.goog { background: -moz-linear-gradient(center top , #f3f3f3 0%, #32C1F0 49%, #ccc 49%, #ccc 100%) repeat scroll 0 0 transparent; box-shadow: 0 3px 0 #249BC4; }
.goog:hover { background: -moz-linear-gradient(center top , #18B8EE 0%, #18B8EE 49%, #18B2E6 49%, #18B2E6 100%) repeat scroll 0 0 transparent; box-shadow: 0 3px 0 #1D82A5; }
.s_auth.goog .ic { background: url("../img/goog_login.png") no-repeat top left }

footer {
    padding: 40px 0;
    background:#000;
    margin-top: 40px;
    border-top: 1px solid #ccc;
}
footer a {
    color:#efefef;
}